.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

#Backend
backend/.DS_Store
backend/.env
backend/.flaskenv
backend/flask_session
backend/*.pyc
backend/*.pyo
backend/env/
backend/env*
backend/dist/
backend/build/
backend/*.egg
backend/*.egg-info/
backend/_mailinglist
backend/.tox/
backend/.cache/
backend/.pytest_cache/
backend/.idea/
backend/docs/_build/
backend/.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover