<div class="container">
  <div class="image-wrapper" layout-align="center center">
    <img src="assets/logo.jpeg">
  </div>
  <div class="flex">
    <a mat-button class="registration-button" routerLink="/shop-registration" routerLinkActive="active">Ich habe ein Geschäfft</a>
  </div>
  <mat-card class="box" layout-align="center center">
    <mat-card-header class="flex" layout-align="center center">
      <mat-card-title>Geben Sie Ihre Postleitzahl an</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container" fxLayout="column" fxLayoutAlign="center">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Postleitzahl" value="{{postCode}}" (change)="postCodeChange($event)">
          </mat-form-field>
        </div>
        <div class="flex">
          <mat-checkbox color="primary" class="example-margin" [checked]="mapShown" (change)="valueChange(false,$event)">
            <label>Karte anzeigen</label>
          </mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="listShown" (change)="valueChange(true,$event)">
            <label>List anzeigen</label>
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card [ngClass]="(mapShown)?'box':'hidden'" layout-align="center center">
    <mat-card-header class="flex" layout-align="center center">
      <mat-card-title>Karte {{currentTown}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="map"></div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="listShown" class="box" layout-align="center center">
    <mat-card-header class="flex" layout-align="center center">
      <mat-card-title>Liste</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="shop-container" *ngFor="let place of places">
        <div class="pointer" (click)="shopClicked(place)">
          <div class="shop-content-container">
            <label class="shop-label">Name</label>
            <label class="shop-content">{{place.short_description.name}}</label>
          </div>
          <div class="shop-content-container">
            <label class="shop-label">Beschreibung</label>
            <label class="shop-content">{{place.short_description.short_information}}</label>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<!--<a routerLink="/shop-registration" routerLinkActive="active">shop-registration</a>
<br>
<a routerLink="/dealer-settings" routerLinkActive="active">dealer-settings</a>
<br>
<a routerLink="/shop-page" routerLinkActive="active">shop-page</a>
<br>
<a routerLink="/aid" routerLinkActive="active">aid</a>-->
