.data {
  margin: 10px;
}

.response {
  font-weight: bold;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
