<div>
  <mat-card class="box" layout-align="center center">
    <h2>Kontaktdaten</h2>

    <mat-form-field appearance="fill" class="container-wide">
      <mat-label>Firmenname</mat-label>
      <input matInput [(ngModel)]="profile.short_description.name">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="container-wide">
      <mat-label>Inhaber</mat-label>
      <input matInput [(ngModel)]="profile.owner">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="container-bigger">
      <mat-label>Straße</mat-label>
      <input matInput [(ngModel)]="profile.address.place">
    </mat-form-field>
    <mat-form-field appearance="fill" class="container-smaller">
      <mat-label>Hausnummer</mat-label>
      <input matInput [(ngModel)]="profile.address.postcode">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="container-wide">
      <mat-label>Telefonnummer</mat-label>
      <input matInput [(ngModel)]="profile.address.tel_num">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="container-wide">
      <mat-label>E-Mail-Adresse</mat-label>
      <input matInput [(ngModel)]="profile.address.email" type="email">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="container-wide">
      <mat-label>Kurzbeschreibung (250 Zeichen)</mat-label>
      <textarea matInput placeholder="Z.b.Wir sind ein seit 100 Jahren..."
                [(ngModel)]="profile.short_description.short_information"></textarea>
    </mat-form-field>

    <br>
    <button mat-flat-button color="primary" (click)="onSaveChangesClick()" type="submit">Änderungen speichern</button>
  </mat-card>

  <mat-card class="box" layout-align="center center">
    <h2>Gutscheine verwalten</h2>
    <div *ngFor="let item of vouchers; let i=index" class="voucher-item">
      <div *ngIf="!item.edit">

        <div id="voucher-text">
          <b>
            {{i + 1}}. {{item.item.name}}:
          </b>
          Gesamtwert: {{item.item.totalValue}} EUR (davon Spende: {{item.item.donationValue}} EUR)
        </div>

        <div class="edit-buttons">
          <button mat-icon-button (click)="onEditVoucherClick(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDeleteVoucherClick(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="item.edit">
        <mat-form-field appearance="fill" class="container-bigger">
          <mat-label>Gutscheinname</mat-label>
          <input matInput [(ngModel)]="item.item.name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="container-smaller">
          <mat-label>Gesamtwert</mat-label>
          <input matInput [(ngModel)]="item.item.totalValue">
        </mat-form-field>
        <mat-form-field appearance="fill" class="container-smaller">
          <mat-label>Davon Spende</mat-label>
          <input matInput [(ngModel)]="item.item.donationValue">
        </mat-form-field>
        <button mat-icon-button (click)="onAcceptEditVoucherClick(item)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteVoucherClick(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <button mat-flat-button color="primary" (click)="onAddVoucherClick()" type="submit">
      Gutschein hinzufügen
    </button>

  </mat-card>
</div>
